.mouseWheel{
    position: absolute;
    top:calc(100vh - 8rem - 3rem) ;
    left: 50%;
    transform: translateX(-50%);
    &-mouse{
        height: 5rem;
        width: 3rem;
        border: .25rem solid white;
        border-radius: 1.5rem;
        margin: 0 auto;
    }
    &-pin{
        width: 1rem;
        height: 1rem;
        background-color: white;
        margin: 0.75rem auto;
        border-radius: .5rem;
        animation-name: mouse;
        animation-duration: 1.5s;
        animation-timing-function:normal;
        animation-iteration-count:infinite;
    }
    &-text{
        text-align: center;
    }
}
@keyframes mouse {
    0% {
        margin: 0.75rem auto;
    }
    50%{
        opacity: 1;
    }
    100% {
        margin: 2.75rem auto;
        opacity: 0;
    }
  }
  .grid{
      width: 100%;
      height: 100vh;
      position: fixed;
    &-line{
        width: 100%;
        height: 1px;
        background-color: greenyellow;
        position: fixed;
        top: 50%;
    }
  }  
  .home-firstSection{
      height: 100vh;
  }
  .services{
      height: 50vh;
    &-wrapper{
        position: relative;
        height: calc(100vh - 26rem);
        top: 26rem;
    }
    &-service{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        visibility: hidden;
        opacity: 0;
        //transition: $mediumMotion;
        &--show{
            visibility: visible;
            opacity: 1;
            //transition: $mediumMotion;
        }
    }
    &-tag{
        padding: 1rem 2rem;
        border: 1px solid $lightgrey;
        white-space:nowrap;
        display: block;
        float: left;
        margin: 1rem 1rem 0 0 ;
        border-radius: 3rem;
    }
    & p{
        margin-bottom: 2rem;
    }
  }
 .mission{
     opacity:0;
     text-align: center;
     height: 100vh;
     position: relative;
     &-words{
        position: relative;
     }
     &-word{
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
     }
     &-wrapper{
         width: 80%;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50% , -50%);
     }

 }
 .audience{
     margin-bottom: 20rem;
     &-item{
         padding: 2rem 0;
         position: relative;
         border-bottom: 1px solid white;
     }
     & h2{
        text-align: center;
     }
     & p{
         margin: 2rem 0;
     }
     &-itemWrapper{
         width: calc(100% - 10rem);
         
     }
    &-arrow{
        width: 3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
 }
 .btn{
     justify-self: right;
     align-self: right;
     color: white;
     display: inline-block;
    &-arrow{
        fill: rgba(var(--baseColor), 1);
        vertical-align: middle;
        
    }
    & span{
        margin: 0 2rem;
        vertical-align: middle;
    }
 }
 .readMore{
     justify-self: right;
     align-self: center;
 }
.contact{
    width: 24rem;
    height: 70rem;
    max-height: 6.5rem;
    position: fixed;
    bottom: 6rem;
    left:6rem;
    overflow: hidden;
    border-radius: 3rem;
    z-index: 200;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: $mediumMotion;
    font-family: $enfont;
    font-weight: 100!important;
    color: rgba(var(--baseColor), 1);
    font-size: 2rem;
    @include sScreen{
        bottom: 2rem;
        left:2rem;
      }
    @include mScreen{
        bottom: 2rem;
        left:2rem;
      }
    &-btn{
        padding: 2rem;
        cursor: pointer;
        transition: $mediumMotion;
    }
    &-wrapper{
        width:40rem;
        position: absolute;
        bottom: 0rem;
        transition: $mediumMotion;
    }
    &-map{
        width:40rem;
        height: 40rem;
        background: white;
        border-radius: 2rem;
    }
    &-data{
        padding: 3rem;
        p{
            margin-bottom: 1rem;
        }
        & span{
            font-weight: 500;
        }
    }
    &-close{
        width: 6rem;
        height: 3rem;
        position: relative;
        cursor: pointer;
        float: left;
        margin-right: 2rem;
        top:1.375rem;
            &:before , &:after{
            content: '';
            width: 6rem;
            height: .25rem;
            background: rgba(var(--baseColor), 1);
            position: absolute;
            top:0rem;
            }
            &:before{
                transform: rotate(0deg);
                background: rgba(var(--baseColor), 1);
                transition: $mediumMotion;
                
            }
            &:after{
                transform: rotate(0deg);
                background: rgba(var(--baseColor), 1);
                transition: $mediumMotion;
            }
        }
        &--open{
            width: 40rem;
            max-height: 70rem;
            transition: $mediumMotion;
            & .contact-btn{
                padding: 3rem;
                transition: $mediumMotion;
            }
            & .contact-close{
                &:before{
                    transform: rotate(26deg);
                    transition: $mediumMotion;
                }
                &:after{
                    transform: rotate(-26deg);
                    transition: $mediumMotion;
                }
            }
            
        }
        
    }
.titleBar{
    //margin-bottom: 4rem;
}
.posts{
    width: unset!important;
    padding: 0!important;
}
.post{
    &-wrapper{
        overflow: hidden;
        background-color: white;
        border-radius: 2rem ;
        &> a{
            color: rgba(var(--contColor), 1);
        }
        
    }
    &-image{
        &>img{
            //border-radius: 2rem 2rem 0 0;
        }
    }
    &-excerpt{
        margin: 2rem 0;
    }
    &-tags{
        display: inline-block;
    }
    &-tag{
        padding: .5rem 1rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        float: left;
        text-transform: capitalize;
        border: 1px solid rgba(var(--contColor), .1);
        border-radius: 3rem;
        &[data-tagName="finance"]{
            background-color: $green;
            border: none;
            border: 1px solid $green;
        }   
        &[data-tagName="marketing"]{
            background-color: $red;
            border: none;
            color: white;
            border: 1px solid $red;
        }
        &[data-tagName="legal"]{
            background-color: $yellow;
            border: none;
            border: 1px solid $yellow;
        }
        &[data-tagName="commerce"]{
            background-color: $orange;
            border: none;
            color: white;
            border: 1px solid $orange;
        }
        &[data-tagName="hr"]{
            background-color: $grey;
            border: none;
            text-transform: uppercase;
            border: 1px solid $grey;
        }
        &[data-tagName="it"]{
            background-color: $blue;
            border: none;
            color: white;
            text-transform: uppercase;
            border: 1px solid $blue;
        }
    }
    &-info{
        padding: 2rem;
    }
}
.cPagination{
    & .page-numbers{
        background-color: unset !important;
        color: white!important;
        border-radius: 3rem!important;
        transition: $mediumMotion;
        &:hover{
            background-color: rgba(255, 255, 255, 0.5) !important;
            transition: $mediumMotion;
        }
    }
    & .current{
        background-color: white !important;
        color: black!important;
        border-radius: 3rem!important;
        &:hover{
            background-color:white !important;
        }
    }
}
.filter{
    margin-bottom: 4rem;
    &-item{
        display: inline-block;
        background-color: unset;
        margin-right: 1rem;
        & >a{
            color: white;
            padding: 1rem 1.5rem ;
            border-radius: 4rem;
            border: 1px solid white;
            transition: $mediumMotion;
            &:hover{
                background-color: rgba(255, 255, 255, 0.50);
                transition: $mediumMotion;
            }
            &.active{
                background-color: white;
                color:black;
            }
        }
        
    }
}
.values{
    &-figures{
        position: relative;
        height: 100vh;
        &>div{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            @include sScreen{
                top: unset;
                bottom: 20vh;
                transform: unset;
              }
        }
    }
    &-sign{
        opacity: 1;
        transition: $mediumMotion;
        &--hide{
            opacity:0;
            transition: $mediumMotion;

        }
    }
    &-wrapper{

    }
    &-skeleton{
        width: 100%;
    fill:none;
    stroke:$lightgrey;
    stroke-width:4;
    stroke-miterlimit:10;
    transition: $mediumMotion;
    opacity:0;
    transition: $mediumMotion;
    &--show{
        opacity:1;
        transition: $mediumMotion;
    }
    }
    &-text{
        width: 100%;
        max-width: 904px;
        position: absolute;
        height: 100vh;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: $mediumMotion;
        &--show{
            opacity: 1;
            transition: $mediumMotion;
        }
        @include sScreen{
            padding: 0 2rem;
          }
        @include mScreen{
            padding: 0 3rem;
        }
    }
    &-textWrapper{
        width: 100%;
        @include sScreen{
            width: calc(100% - 4rem);
            height: unset;
            position: absolute;
            top: 20vh;
            transform: unset;
          }
        @include mScreen{
            width: calc(100% - 6rem);
        }
        height: 60vh;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &-info{
        width: 100%;
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        bottom: 0;
        @include sScreen{
            position: relative;
            bottom: unset;
            margin-top: 3rem;
          }
        &Item{
            width: 100%;
            grid-row: 1;
            grid-column: 1;
            visibility: hidden;
            opacity: 0;
            //transition: $mediumMotion;
            &--show{
                visibility: visible;
                opacity: 1;
                //transition: $mediumMotion;
            }
        }
    }
}
.article{
    margin-top: 10rem;
    &-wrapper{
        overflow: hidden;
    }
    &-image{
        padding-top: 37.5%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        @include sScreen{
            padding-top: 66.67%;
          }
        @include mScreen{
            padding-top: 56.25%;
        }
        @include xlScreen{
            padding-top: 25%;
        }
    }
    &-tags{
        margin: 2rem 0;
        display: inline-block;
    }
    &-tag{
        padding: .5rem 1rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        float: left;
        text-transform: capitalize;
        border: 1px solid rgba(var(--contColor), .1);
        border-radius: 3rem;
        &[data-tagName="finance"]{
            background-color: $green;
            border: none;
            border: 1px solid $green;
        }   
        &[data-tagName="marketing"]{
            background-color: $red;
            border: none;
            color: white;
            border: 1px solid $red;
        }
        &[data-tagName="legal"]{
            background-color: $yellow;
            border: none;
            border: 1px solid $yellow;
        }
        &[data-tagName="commerce"]{
            background-color: $orange;
            border: none;
            color: white;
            border: 1px solid $orange;
        }
        &[data-tagName="hr"]{
            background-color: $grey;
            border: none;
            text-transform: uppercase;
            border: 1px solid $grey;
        }
        &[data-tagName="it"]{
            background-color: $blue;
            border: none;
            color: white;
            text-transform: uppercase;
            border: 1px solid $blue;
        }
    }
    &-info{
        text-align: center;
        margin: 3rem auto;
    }
}
