.mouseWheel{
    position: absolute;
    top:calc(100vh - 8rem - 3rem) ;
    left: 50%;
    transform: translateX(-50%);
    &-wrapper{

    }
    &-mouse{
        height: 5rem;
        width: 3rem;
        border: .25rem solid white;
        border-radius: 1.5rem;
        margin: 0 auto;
    }
    &-pin{
        width: 1rem;
        height: 1rem;
        background-color: white;
        margin: 0.75rem auto;
        border-radius: .5rem;
        animation-name: mouse;
        animation-duration: 1.5s;
        animation-timing-function:normal;
        animation-iteration-count:infinite;
    }
    &-text{
        text-align: center;
    }
}
@keyframes mouse {
    0% {
        margin: 0.75rem auto;
    }
    50%{
        opacity: 1;
    }
    100% {
        margin: 2.75rem auto;
        opacity: 0;
    }
  }
  .grid{
      width: 100%;
      height: 100vh;
      position: fixed;
    &-line{
        width: 100%;
        height: 1px;
        background-color: greenyellow;
        position: fixed;
        top: 50%;
    }
  }  
  .home-firstSection{
      height: 100vh;
  }
  .services{
      position: relative;
    &-service{
        padding-bottom:3rem ;
        position: absolute;
    }
    &-tag{
        padding: 1rem 2rem;
        border: 1px solid $lightgrey;
        white-space:nowrap;
        display: block;
        float: left;
        margin: 1rem 1rem 0 0 ;
        border-radius: 3rem;
    }
    & p{
        margin-bottom: 2rem;
    }
  }
 