*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 8px;
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
}
$fastMotion:.1s all ease;
$mediumMotion:.4s all ease;
$slowMotion:.6s all ease;


