*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 8px;
}
$fastMotion:.2s all ease;
$mediumMotion:.4s all ease;
$slowMotion:.6s all ease;
body {
  background-color: rgb(0, 0, 0);
  color: rgba(var(--baseColor), 1);
  //transition: $mediumMotion;
}
img{
  width: 100%;
}



