
.header{
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  &--none{
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    -moz-backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  
  &--fixed{
    position: fixed;
    z-index: 90;
    top: 0;
  }
  &-wrapper{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    height: 10rem;
  }
  &-left{
    align-self: center;
    position: relative;
  }
  &-right{
    align-self: center;
    justify-self: right;
    position: relative;
  }
  &-center{
    align-self: center;
    justify-self: center;
    position: relative;
  }
  
  
  &-translate{
    &-text{
      font-size: 2rem;
      font-weight: 100;
      font-family: $fafont;
    }
    &-switch{
      position: relative;
      width:3.5rem;
      height: 2rem;
      float: right;
      border: solid .125rem rgba(var(--baseColor), 1);;
      border-radius: 1rem;
      margin-left: 1rem;
      cursor: pointer;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
    &-pin{
      width:1rem;
      height: 1rem;
      float: right;
      background-color: rgba(var(--baseColor), 1);;
      border-radius: .5rem;
      position: absolute;
      top: 0.375rem;
      left: 1.875rem;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
    &-pin--active{
      left: 0.375rem;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
  }
  &-logotype{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 8rem;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
    & svg{
      height: 4rem;
      fill: rgba(var(--baseColor), 1);
    }
    @include sScreen{
      display: none;
    }
  }
  &-hamIco{
    width: 6rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
    margin-right: 2rem;
    transition: $mediumMotion;
     -webkit-transition: $mediumMotion;
    &-line{
      width: 6rem;
      height: .25rem;
      background: rgba(var(--baseColor), 1);;
      position: absolute;
      top:1.375rem;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
      &:before{
        content: '';
        width: 6rem;
        height: .25rem;
        background: rgba(var(--baseColor), 1);;
        position: absolute;
        top:-1.375rem;
        transition: $mediumMotion; 
        -webkit-transition: $mediumMotion;
      }
      &:after{
        content: '';
        width: 6rem;
        height: .25rem;
        background: rgba(var(--baseColor), 1);;
        position: absolute;
        top:1.375rem;
        transition: $mediumMotion; 
        -webkit-transition: $mediumMotion;
      }
    }
    &-line--open{
      height: 0rem;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
      &:before{
        top:0rem;
        transform: rotate(26deg);
        transition: $mediumMotion; 
        -webkit-transition: $mediumMotion;
      }
      &:after{
        top:0rem;
        transform: rotate(-26deg);
        transition: $mediumMotion; 
        -webkit-transition: $mediumMotion;
      }
    }
  }
  &-menu{
    width: 100%;
    height: 10rem;
    overflow: hidden;
    position: fixed;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
    transition-delay: .8s;
    background-color: transparent;
    &--open{
      height: 100vh;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
      background-color: black;
    }
  }
  &-menuBox{
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    position: relative;
    max-height: 6rem;
    top: 0;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
    transition-delay: .4s;
    @include xlScreen{
      max-width: 170rem;
    }
    &--open{
      top: 50%;
      max-height: 100vh;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
  }
  &-sign{
    width: 12rem;
    position: relative;
    margin: 2rem auto 6rem;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
    transition-delay: .4s;
    &--open{
      width: 40rem;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
    &>img{
      width: 100%;
    }
    &-type{
      width: 43.75%;
      position: relative;
      margin-top: 9.375%;
      left: 25%;
      & svg{
      fill: $grey;
      width: 100%;
      }
    }
    &-caption{
      position: relative;
      font-size: 50%;
      left: 25%;
    }
  }
  &-assist{
    visibility: hidden;
    opacity: 0;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
    
    &--open{
      visibility: visible;
      opacity: 1;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
      transition-delay: .6s;
    }
  }
  &-menuTitle{
    text-align: center;
    margin-top: 3rem;
    color: white;
  }
  &-questions{
    text-align: center;
    margin-top: 6rem;
  }
  &-back{
    display: block;
    cursor: pointer;
    text-align: center;
    margin-top:3rem;
  }
  &-servicesTriger{
    cursor: pointer;
  }
  &-panel{
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
    &--active{
      visibility: visible;
      opacity: 1;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
  }
  &-question{
    min-width: 6rem;
    display: inline-block;
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 4rem;
    margin: 0 0.5rem 1rem 0.5rem;
    &-finance{
      background-color: $green;
      border: 1px solid $green;
      & > a{ color: black !important;}
    }
    &-marketing{
      background-color: $red;
      border: 1px solid $red;
    }
    &-legal{
      background-color: $yellow;
      border: 1px solid $yellow;
      & > a{ color: black !important;}
    }
    &-it{
      background-color: $blue;
      border: 1px solid $blue;
    }
    &-hr{
      background-color: $grey;
      border: 1px solid $grey;
      & > a{ color: black !important;}
    }
    &-commerce{
      background-color: $orange;
      border: 1px solid $orange;
    }
    @include xlScreen{
      padding: 2rem;
      margin: 0 1rem 2rem 1rem;
    }
    & > a{
      color: white;
    }
  }
}
.logo{
  width: 12rem;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50% , 0);
  transform-origin: center center;
  z-index: 100;
  -webkit-transition: $mediumMotion;
  -moz-transition: $mediumMotion;
  -o-transition: $mediumMotion;
  transition: $mediumMotion; 
  &--home{
    width: 40rem;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transition: $mediumMotion;
    -moz-transition: $mediumMotion;
    -o-transition: $mediumMotion;
    transition: $mediumMotion; 
    @include sScreen{
      width: 30rem;
    }
    & > .logo-info{
      opacity: 1;
      -webkit-transition: $mediumMotion;
      -moz-transition: $mediumMotion;
      -o-transition: $mediumMotion;
      transition: $mediumMotion; 
    }
  }
  
  &--services{
    width: 50rem;
    top: 12rem;
    transform: translate(-50% , 0);
    -webkit-transition: $mediumMotion;
    -moz-transition: $mediumMotion;
    -o-transition: $mediumMotion;
    transition: $mediumMotion; 
    @include sScreen{
      width: 30rem;
    }
    & > .logo-info{
      opacity: 1;
    }
  }
  &--menu{
    width: 40rem;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transition: $mediumMotion;
    -moz-transition: $mediumMotion;
    -o-transition: $mediumMotion;
    transition: $mediumMotion; 
    & > .logo-info{
      opacity: 0!important;
      -webkit-transition: $mediumMotion;
      -moz-transition: $mediumMotion;
      -o-transition: $mediumMotion;
      transition: $mediumMotion; 
    }
  }
  &--black{
    & .logo-type svg{
      fill: black !important;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
    & .logo-caption{
      fill: black !important;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
  }
  &-info{
    opacity: 0;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
  }
  &-sign{
    width: 100%;
    position: relative;

    &--open{
      width: 40rem;
      transition: $mediumMotion; 
      -webkit-transition: $mediumMotion;
    }
    &>img{
      width: 100%;
    }
  }
  &-type{
    width: 44%;
    position: relative;
    left: 24%;
    margin-top: 9%;
    fill: rgba(var(--baseColor), 1);;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
  }
  &-caption{
    margin-top: -13%;
    width: 75.8%;
    position: relative;
    left: 24%;
    fill: rgba(var(--baseColor), 1);;
    transition: $mediumMotion; 
    -webkit-transition: $mediumMotion;
    & > text{
      font-size: .47rem;
      font-family: $enfont;
      font-weight: 200;
    }
  }
  
}