.header {
  position: relative;
  z-index: 200;
  &_close {
    &--open {
      width: 100%;
      height: 100vh;
      position: fixed;
    }
  }
  &_hamIco {
    width: 158px;
    height: 38px;
    position: fixed;
    left: 25px;
    top: 702px;
    background: rgba($whiteBackground, 0.5);
    backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 4rem;
    transition: $mediumMotion;
    cursor: pointer;
    @include xxlScreen() {
      left: calc(((100% - 1440px) / 2) + 6rem);
    }
    @include mScreen() {
      bottom: 3rem;
      left: 3rem;
    }
    &::after {
      content: "";
      width: 0rem;
      height: 0rem;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 4rem;
      transform: translate(-50%, -50%);
      background: white;
      transition: $mediumMotion;
    }
  }
  &_hamIco:hover {
    &::after {
      content: "";
      width: 8rem;
      height: 8rem;
      background: white;
      transition: $fastMotion;
    }
  }
  &_hamIco--open {
    &::after {
      content: "";
      width: 8rem;
      height: 8rem;
      transition: $fastMotion;
    }
  }
  &_line {
    width: 4rem;
    height: 0.125rem;
    background-color: black;
    top: 6rem;
    left: 4rem;
    position: absolute;
    transform: translate(-2rem, -2rem);
    z-index: 2;
    &::before {
      content: "";
      width: 4rem;
      height: 0.125rem;
      background-color: black;
      position: absolute;
      top: -1.25rem;
      transition: $mediumMotion;
    }
    &::after {
      content: "";
      width: 4rem;
      height: 0.125rem;
      background-color: black;
      position: absolute;
      top: 1.25rem;
      transition: $mediumMotion;
    }
  }
  &_line--open {
    &::before {
      top: 0rem;
      transition: $mediumMotion;
    }
    &::after {
      top: 0rem;
      transition: $mediumMotion;
    }
  }
  &_copyRight {
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: 6rem;
    padding-right: 4rem;
    transition: $fastMotion;
    & a {
      color: black;
      text-decoration: none;
    }
    @include lScreen() {
      bottom: 3.5rem;
      padding-left: unset;
    }
    @include mScreen() {
      bottom: 4.5rem;
    }
  }

  &_popup {
    width: 45rem;
    height: 82rem;
    background: rgba($it, 0.5);
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    visibility: hidden;
    opacity: 0;
    transform-origin: bottom center;
    transition: $mediumMotion;
    overflow: hidden;
    backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @include xxlScreen() {
      left: calc(((100% - 1440px) / 2) + 3rem);
    }
    @include mScreen() {
      width: 100%;
      height: 100vh;
      bottom: 0rem;
      left: 0rem;
    }
  }
  &_popup--open {
    border-radius: 0rem;
    visibility: visible;
    opacity: 1;
    transition: $mediumMotion;
    @include xxlScreen() {
      left: calc(((100% - 1440px) / 2) + 3rem);
    }
  }
  &_menu {
    padding: 0rem 3rem 0 3rem;
    position: fixed;
    top: 1rem;
    width: 60rem;
    @include lScreen() {
      top: 3rem;
    }
    @include mScreen() {
      width: 100%;
    }
  }

  &_item {
    list-style: none;
  }
  &_item {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    & a {
      font-size: 2rem;
      font-weight: 300;
      text-transform: capitalize;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      transition: $fastMotion;
      &:hover {
        color: black;
        transition: $fastMotion;
      }
    }
  }
}
