.main{
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.row{
    margin: 0 6rem;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-gap:3rem;
    &--min{
      width: 100% ;
      max-width: 904px;
      margin:0 auto;
      @include mScreen{
        margin: 0 3rem;
    }
    @include sScreen{
      margin: 0 2rem;
    }
    }
    &--medium{
      width: 100% ;
      max-width: 904px;
      margin:0 auto;
      @include mScreen{
        margin: 0 3rem;
        width: calc(100% - 6rem);
    }
    @include sScreen{
      margin: 0 2rem;
      width: calc(100% - 4rem);
    }
    }
    @include sScreen{
        margin: 0 2rem;
        grid-gap:2rem;
    }
    @include mScreen{
        margin: 0 3rem;
        grid-gap:3rem;
    }
    @include lScreen{
        margin: 0 6rem;
        grid-gap:3rem;
    }
    @include xlScreen{
        margin: 0 10rem;
        grid-gap:6rem;
    }
}
.row-justMargin{
    margin: 0 6rem;
    &--min{
      max-width: 904px;
      margin:0 auto;
      @include mScreen{
        margin: 0 3rem;
    }
    @include sScreen{
      margin: 0 2rem;
  }
    }
    @include sScreen{
        margin: 0 2rem;
    }
    @include mScreen{
        margin: 0 3rem;
    }
    @include lScreen{
        margin: 0 6rem;
    }
    @include xlScreen{
        margin: 0 10rem;
    }
}
.mediumRow{
  width: 100%;
    max-width: 904px;
    margin: 0 auto;
    padding: 0 3rem;
    @include sScreen{
      padding: 0 2rem;
  }
  
  }
.smallRow{
  width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .col-full {
    grid-column: span 12;
    @include mScreen() {
      grid-column: span 8;
    }
    @include sScreen() {
      grid-column: span 4;
    }
  }
  .col-twoThirds {
    grid-column: span 8;
    @include mScreen() {
      grid-column: span 6;
    }
    @include sScreen() {
      grid-column: span 12;
    }
  }
  .col-half {
    grid-column: span 6;
    @include mScreen() {
      grid-column: span 6;
    }
    @include sScreen() {
      grid-column: span 12;
    }
  }
  .col-third {
    grid-column: span 4;
    @include mScreen() {
      grid-column: span 6;
    }
    @include sScreen() {
      grid-column: span 6;
    }
  }
  .col-quarter {
    grid-column: span 3;
    @include lScreen() {
      grid-column: span 4;
    }
    @include mScreen() {
      grid-column: span 6;
    }
    @include sScreen() {
      grid-column: span 12;
    }
  }
  .col-sixth {
    grid-column: span 2;
    @include mScreen() {
      grid-column: span 3;
    }
    @include sScreen() {
      grid-column: span 6;
    }
  }