$minS-Screen: 0;
$maxS-Screen: 599px;
$minM-Screen: 600px;
$maxM-Screen: 904px;
$minL-Screen: 905px;
$maxL-Screen: 1439px;
$minXL-Screen: 1440px;

@mixin sScreen() {
  @media only screen and (min-width: $minS-Screen) and (max-width: $maxS-Screen) {
    @content;
  }
}
@mixin mScreen() {
  @media only screen and (min-width: $minM-Screen) and (max-width: $maxM-Screen) {
    @content;
  }
}
@mixin lScreen() {
  @media only screen and (min-width: $minL-Screen) and (max-width: $maxL-Screen) {
    @content;
  }
}
@mixin xlScreen() {
  @media only screen and (min-width: $minXL-Screen) {
    @content;
  }
}
