@font-face {
  font-family: "vazir";
  src: url("asset/fonts/en/Vazir-Light.eot");
  src: url("asset/fonts/en/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("asset/fonts/en/Vazir-Light.ttf") format("ttf"),
    url("asset/fonts/en/Vazir-Light.woff2") format("woff2"),
    url("asset/fonts/en/Vazir-Light.woff") format("woff"),
    url("asset/fonts/en/Vazir-Light.svg#Vazir-Light") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "vazir";
  src: url("asset/fonts/en/Vazir-Regular.eot");
  src: url("asset/fonts/en/Vazir-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Vazir-Regular.ttf") format("ttf"),
    url("asset/fonts/en/Vazir-Regular.woff2") format("woff2"),
    url("asset/fonts/en/Vazir-Regular.woff") format("woff"),
    url("asset/fonts/en/Vazir-Regular.svg#Vazir-Regular") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Light.eot");
  src: url("asset/fonts/en/Approach-Light.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Approach-Light.ttf") format("ttf"),
    url("asset/fonts/en/Approach-Light.woff2") format("woff2"),
    url("asset/fonts/en/Approach-Light.woff") format("woff"),
    url("asset/fonts/en/Approach-Light.svg#Approach-Light") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Regular.eot");
  src: url("asset/fonts/en/Approach-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Approach-Regular.ttf") format("ttf"),
    url("asset/fonts/en/Approach-Regular.woff2") format("woff2"),
    url("asset/fonts/en/Approach-Regular.woff") format("woff"),
    url("asset/fonts/en/Approach-Regular.svg#Approach-Regular") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Medium.eot");
  src: url("asset/fonts/en/Approach-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Approach-Medium.ttf") format("ttf"),
    url("asset/fonts/en/Approach-Medium.woff2") format("woff2"),
    url("asset/fonts/en/Approach-Medium.woff2") format("woff2"),
    url("asset/fonts/en/Approach-Medium.woff") format("woff"),
    url("asset/fonts/en/Approach-Medium.svg#Approach-Medium") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-SemiBold.eot");
  src: url("asset/fonts/en/Approach-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Approach-SemiBold.ttf") format("ttf"),
    url("asset/fonts/en/Approach-SemiBold.woff2") format("woff2"),
    url("asset/fonts/en/Approach-SemiBold.woff") format("woff"),
    url("asset/fonts/en/Approach-SemiBold.svg#Approach-SemiBold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$enfont: "approach", sans-serif;
$fafont: "vazir";

@mixin type($weight, $size, $spacing, $leading, $case) {
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $spacing;
  line-height: $leading;
  text-transform: $case;
}

.caption {
  @include type(100, 2rem, 1, 3rem, lowercase);
  @include sScreen {
    @include type(100, 1.5rem, 1, 2rem, lowercase);
  }
  @include lScreen {
    @include type(100, 3rem, 1, 2.8rem, lowercase);
  }
}

.body {
  @include type(200, 2.75rem, 1, 3rem, lowercase);
  @include sScreen {
    @include type(200, 1.75rem, 1, 3rem, lowercase);
  }
  @include lScreen {
    @include type(200, 4.5rem, 1, 2.8rem, lowercase);
  }
}

.title {
  @include type(300, 6rem, 1, 2.6rem, lowercase);
  @include sScreen {
    @include type(300, 2.75rem, 1, 2.8rem, lowercase);
  }
  @include lScreen {
    @include type(300, 8rem, 1, 2.6rem, lowercase);
  }
}

.heading {
  @include type(200, 8rem, 1, 2.6rem, lowercase);
  @include sScreen {
    @include type(200, 4.5rem, 1, 2.8rem, lowercase);
  }
  @include lScreen {
    @include type(200, 9rem, 1, 2.6rem, lowercase);
  }
}

.display {
  @include type(300, 18rem, 1, 2.6rem, lowercase);
  @include sScreen {
    @include type(300, 8rem, 1, 2.6rem, lowercase);
  }
  @include lScreen {
    @include type(300, 24.75rem, 1, 2.6rem, lowercase);
  }
}
