@font-face {
    font-family: 'approach';
    src: url('platform/fonts/english/RamaGothicRoundedE-SemiBold.eot');
    src: url('platform/fonts/english/RamaGothicRoundedE-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('platform/fonts/english/RamaGothicRoundedE-SemiBold.woff2') format('woff2'),
        url('platform/fonts/english/RamaGothicRoundedE-SemiBold.woff') format('woff'),
        url('platform/fonts/english/RamaGothicRoundedE-SemiBold.svg#RamaGothicRoundedE-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

$enfont: 'approach', sans-serif;
$fafont: "Anjoman";

@mixin type($weight, $size, $spacing, $leading, $case) {
    font-weight: $weight;
    font-size: $size;
    letter-spacing: $spacing;
    line-height: $leading;
    text-transform: $case;
}
.captipn{
    @include sScreen() {
        @include type(normal, 16rem, -1.5, 1, uppercase);
    }
    @include mScreen() {
        @include type(normal, 16rem, -1.5, 1, uppercase);
    }
    @include lScreen() {
        @include type(normal, 16rem, -1.5, 1, uppercase);
    }
}