@font-face {
  font-family: "vazir";
  src: url("asset/fonts/fa/Vazir-Light.eot");
  src: url("asset/fonts/fa/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("asset/fonts/fa/Vazir-Light.ttf") format("ttf"),
    url("asset/fonts/fa/Vazir-Light.woff2") format("woff2"),
    url("asset/fonts/fa/Vazir-Light.woff") format("woff"),
    url("asset/fonts/fa/Vazir-Light.svg#Vazir-Light") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "vazir";
  src: url("asset/fonts/fa/Vazir-Regular.eot");
  src: url("asset/fonts/fa/Vazir-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/fa/Vazir-Regular.ttf") format("ttf"),
    url("asset/fonts/fa/Vazir-Regular.woff2") format("woff2"),
    url("asset/fonts/fa/Vazir-Regular.woff") format("woff"),
    url("asset/fonts/fa/Vazir-Regular.svg#Vazir-Regular") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Light.eot");
  src: url("asset/fonts/en/Approach-Light.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Approach-Light.ttf") format("ttf"),
    url("asset/fonts/en/Approach-Light.woff2") format("woff2"),
    url("asset/fonts/en/Approach-Light.woff") format("woff"),
    url("asset/fonts/en/Approach-Light.svg#Approach-Light") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Regular.eot");
  src: url("asset/fonts/en/Approach-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Approach-Regular.ttf") format("ttf"),
    url("asset/fonts/en/Approach-Regular.woff2") format("woff2"),
    url("asset/fonts/en/Approach-Regular.woff") format("woff"),
    url("asset/fonts/en/Approach-Regular.svg#Approach-Regular") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Medium.eot");
  src: url("asset/fonts/en/Approach-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Approach-Medium.ttf") format("ttf"),
    url("asset/fonts/en/Approach-Medium.woff2") format("woff2"),
    url("asset/fonts/en/Approach-Medium.woff2") format("woff2"),
    url("asset/fonts/en/Approach-Medium.woff") format("woff"),
    url("asset/fonts/en/Approach-Medium.svg#Approach-Medium") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-SemiBold.eot");
  src: url("asset/fonts/en/Approach-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("asset/fonts/en/Approach-SemiBold.ttf") format("ttf"),
    url("asset/fonts/en/Approach-SemiBold.woff2") format("woff2"),
    url("asset/fonts/en/Approach-SemiBold.woff") format("woff"),
    url("asset/fonts/en/Approach-SemiBold.svg#Approach-SemiBold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$enfont: "approach", sans-serif;
$fafont: "vazir";

@mixin type($weight, $size, $spacing, $leading, $case) {
  font-family: $enfont;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $spacing;
  line-height: $leading;
  text-transform: $case;
}

.overline {
  @include type(100, 1.5rem, 1, auto, inherit);
  @include sScreen {
    @include type(100, 1.25rem, 1, auto, inherit);
  }
  @include mScreen {
    @include type(100, 1.25rem, 1, auto, inherit);
  }
  @include xlScreen {
    @include type(100, 1.75rem, 1, auto, inherit);
  }
}
.caption {
  @include type(100, 2rem, 1, auto, inherit);
  @include sScreen {
    @include type(100, 1.5rem, 1, auto, inherit);
  }
  @include mScreen {
    @include type(100, 1.5rem, 1, auto, inherit);
  }
  @include xlScreen {
    @include type(100, 3rem, 1, auto, inherit);
  }
}

.body {
  @include type(100, 2.75rem, 1, auto, inherit);
  @include sScreen {
    @include type(100, 1.75rem, 1, auto, inherit);
  }
  @include mScreen {
    @include type(100, 2.25rem, 1, auto, inherit);
  }
  @include xlScreen {
    @include type(100, 3rem, 1, auto, inherit);
  }
}

.subtitle {
  @include type(300, 3.25rem, 1, auto, inherit);
  @include sScreen {
    @include type(300, 2rem, 1, auto, inherit);
  }
  @include mScreen {
    @include type(300, 2.5rem, 1, auto, inherit);
  }
  @include xlScreen {
    @include type(300, 4rem, 1, auto, inherit);
  }
}

.title {
  @include type(300, 5.25rem, 1, auto, inherit);
  @include sScreen {
    @include type(300, 2.75rem, 1, auto, inherit);
  }
  @include mScreen {
    @include type(300, 2.75rem, 1, auto, inherit);
  }
  @include xlScreen {
    @include type(300, 6.5rem, 1, auto, inherit);
  }
}

.heading {
  @include type(200, 8rem, 1, auto, lowercase);
  @include sScreen {
    @include type(200, 4.5rem, 1, auto, lowercase);
  }
  @include mScreen {
    @include type(200, 4.5rem, 1, auto, lowercase);
  }
  @include xlScreen {
    @include type(200, 9rem, 1, auto, lowercase);
  }
}

.display {
  @include type(300, 16rem, 1, auto, unset);
  @include sScreen {
    @include type(300, 8rem, 1, auto, unset);
  }
  @include mScreen {
    @include type(300, 12rem, 1, auto, unset);
  }
  @include xlScreen {
    @include type(300, 20.75rem, 1, auto, unset);
  }
}

.fa{
  font-family: $fafont;
  direction: rtl;
  display: none;
}

.align{
  &_left{
    text-align: left;
  }
  &_center{
    text-align: center;
  }
  &_right{
    text-align: right;
  }
}
