html {
  font-size: 8px;
}

body {
  background-color: #d18f8f;
}

p {
  color: white;
}

@font-face {
  font-family: "vazir";
  src: url("asset/fonts/en/Vazir-Light.eot");
  src: url("asset/fonts/en/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("asset/fonts/en/Vazir-Light.ttf") format("ttf"), url("asset/fonts/en/Vazir-Light.woff2") format("woff2"), url("asset/fonts/en/Vazir-Light.woff") format("woff"), url("asset/fonts/en/Vazir-Light.svg#Vazir-Light") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "vazir";
  src: url("asset/fonts/en/Vazir-Regular.eot");
  src: url("asset/fonts/en/Vazir-Regular.eot?#iefix") format("embedded-opentype"), url("asset/fonts/en/Vazir-Regular.ttf") format("ttf"), url("asset/fonts/en/Vazir-Regular.woff2") format("woff2"), url("asset/fonts/en/Vazir-Regular.woff") format("woff"), url("asset/fonts/en/Vazir-Regular.svg#Vazir-Regular") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Light.eot");
  src: url("asset/fonts/en/Approach-Light.eot?#iefix") format("embedded-opentype"), url("asset/fonts/en/Approach-Light.ttf") format("ttf"), url("asset/fonts/en/Approach-Light.woff2") format("woff2"), url("asset/fonts/en/Approach-Light.woff") format("woff"), url("asset/fonts/en/Approach-Light.svg#Approach-Light") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Regular.eot");
  src: url("asset/fonts/en/Approach-Regular.eot?#iefix") format("embedded-opentype"), url("asset/fonts/en/Approach-Regular.ttf") format("ttf"), url("asset/fonts/en/Approach-Regular.woff2") format("woff2"), url("asset/fonts/en/Approach-Regular.woff") format("woff"), url("asset/fonts/en/Approach-Regular.svg#Approach-Regular") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-Medium.eot");
  src: url("asset/fonts/en/Approach-Medium.eot?#iefix") format("embedded-opentype"), url("asset/fonts/en/Approach-Medium.ttf") format("ttf"), url("asset/fonts/en/Approach-Medium.woff2") format("woff2"), url("asset/fonts/en/Approach-Medium.woff2") format("woff2"), url("asset/fonts/en/Approach-Medium.woff") format("woff"), url("asset/fonts/en/Approach-Medium.svg#Approach-Medium") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "approach";
  src: url("asset/fonts/en/Approach-SemiBold.eot");
  src: url("asset/fonts/en/Approach-SemiBold.eot?#iefix") format("embedded-opentype"), url("asset/fonts/en/Approach-SemiBold.ttf") format("ttf"), url("asset/fonts/en/Approach-SemiBold.woff2") format("woff2"), url("asset/fonts/en/Approach-SemiBold.woff") format("woff"), url("asset/fonts/en/Approach-SemiBold.svg#Approach-SemiBold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.caption {
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 1;
  line-height: 3rem;
  text-transform: lowercase;
}

@media only screen and (min-width: 0) and (max-width: 904px) {
  .caption {
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 1;
    line-height: 2rem;
    text-transform: lowercase;
  }
}

@media only screen and (min-width: 1440px) {
  .caption {
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 1;
    line-height: 2.8rem;
    text-transform: lowercase;
  }
}

.body {
  font-weight: 200;
  font-size: 2.75rem;
  letter-spacing: 1;
  line-height: 3rem;
  text-transform: lowercase;
}

@media only screen and (min-width: 0) and (max-width: 904px) {
  .body {
    font-weight: 200;
    font-size: 1.75rem;
    letter-spacing: 1;
    line-height: 3rem;
    text-transform: lowercase;
  }
}

@media only screen and (min-width: 1440px) {
  .body {
    font-weight: 200;
    font-size: 4.5rem;
    letter-spacing: 1;
    line-height: 2.8rem;
    text-transform: lowercase;
  }
}

.title {
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: 1;
  line-height: 2.6rem;
  text-transform: lowercase;
}

@media only screen and (min-width: 0) and (max-width: 904px) {
  .title {
    font-weight: 300;
    font-size: 2.75rem;
    letter-spacing: 1;
    line-height: 2.8rem;
    text-transform: lowercase;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-weight: 300;
    font-size: 8rem;
    letter-spacing: 1;
    line-height: 2.6rem;
    text-transform: lowercase;
  }
}

.heading {
  font-weight: 200;
  font-size: 8rem;
  letter-spacing: 1;
  line-height: 2.6rem;
  text-transform: lowercase;
}

@media only screen and (min-width: 0) and (max-width: 904px) {
  .heading {
    font-weight: 200;
    font-size: 4.5rem;
    letter-spacing: 1;
    line-height: 2.8rem;
    text-transform: lowercase;
  }
}

@media only screen and (min-width: 1440px) {
  .heading {
    font-weight: 200;
    font-size: 9rem;
    letter-spacing: 1;
    line-height: 2.6rem;
    text-transform: lowercase;
  }
}

.display {
  font-weight: 300;
  font-size: 18rem;
  letter-spacing: 1;
  line-height: 2.6rem;
  text-transform: lowercase;
}

@media only screen and (min-width: 0) and (max-width: 904px) {
  .display {
    font-weight: 300;
    font-size: 8rem;
    letter-spacing: 1;
    line-height: 2.6rem;
    text-transform: lowercase;
  }
}

@media only screen and (min-width: 1440px) {
  .display {
    font-weight: 300;
    font-size: 24.75rem;
    letter-spacing: 1;
    line-height: 2.6rem;
    text-transform: lowercase;
  }
}
/*# sourceMappingURL=style.css.map */