html {
  font-size: 8px;
}

body {
  background-color: black;
}

@font-face {
  font-family: 'approach';
  src: url("platform/fonts/english/RamaGothicRoundedE-SemiBold.eot");
  src: url("platform/fonts/english/RamaGothicRoundedE-SemiBold.eot?#iefix") format("embedded-opentype"), url("platform/fonts/english/RamaGothicRoundedE-SemiBold.woff2") format("woff2"), url("platform/fonts/english/RamaGothicRoundedE-SemiBold.woff") format("woff"), url("platform/fonts/english/RamaGothicRoundedE-SemiBold.svg#RamaGothicRoundedE-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media only screen and (min-width: 0) and (max-width: 904px) {
  .captipn {
    font-weight: normal;
    font-size: 16rem;
    letter-spacing: -1.5;
    line-height: 1;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 905px) and (max-width: 1439px) {
  .captipn {
    font-weight: normal;
    font-size: 16rem;
    letter-spacing: -1.5;
    line-height: 1;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1440px) {
  .captipn {
    font-weight: normal;
    font-size: 16rem;
    letter-spacing: -1.5;
    line-height: 1;
    text-transform: uppercase;
  }
}
